<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
     <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./Templat.css">
    <script src="./Template.js"></script>

    <title>My Page</title>
</head>
<body>
    <div>
     
        <div class="row">
            <div class="col-lg-12 bg">
                
                <div class="inside-content">
                    <img src="./Assest/logo.webp" class="inside-content">
                </div>
                <div class="menu">
                    <ul class="customList">
                        <li>HOME</li>
                        <li>ABOUT US</li>
                        <li>MENU</li>
                        <li>EVENT</li>
                        <li>CONTACTS</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row feature-row">
                <div class="js-flickity Large" data-flickity-options='{ "wrapAround": true }'>
                        <!-- -------------------content Screen Size large------------------ -->
                        <div class="col-lg-12 feature-section slider-item" >
                            <div class="card1">
                                <img src="./Assest/img1.webp" alt="">

                            </div>

                            <div class="card2">
                                <h3>CLASSIC ITALIAN SALADS</h3><br>
                                <p >FROM $25.50</p><br>
                                <p>Praesent vestibulum aenean noummy endrerit mauris. Cum sociis natoque penatibus et magnis dis parturient montes ascetur ridiculus mus.</p>
                            </div>

                            <div class="card1">
                                <img src="./Assest/img2.webp" alt="">
                            </div>

                            <div class="card2">
                                <h3>ITALIAN CHOCOLATE CAKE</h3><br>
                                <p >FROM $25.50</p><br>
                                <p>Praesent vestibulum aenean noummy endrerit mauris. Cum sociis natoque penatibus et magnis dis parturient montes ascetur ridiculus mus</p>
                            </div>

                            <div class="card1">
                                <img src="./Assest/img3.webp" alt="">
                            </div>

                            <div class="card2">
                                <h3>CLASSIC ITALIAN PASTA</h3><br>
                                <p >FROM $25.50</p><br>
                                <p>Praesent vestibulum aenean noummy endrerit mauris. Cum sociis natoque penatibus et magnis dis parturient montes ascetur ridiculus mus.</p>
                            </div>
                        </div>
                        <!-- ------------------------------------------------ -->

                        <!-- -------------------content Screen Size large------------------ -->
                        <div class="col-lg-12 feature-section slider-item">
                            <div class="card2">
                                <h3>ITALIAN MEATY DISHES</h3><br>
                                <p >FROM $25.50</p><br>
                                <p>Praesent vestibulum aenean noummy endrerit mauris. Cum sociis natoque penatibus et magnis dis parturient montes ascetur ridiculus mus.</p>
                            </div>
                            <div class="card1">
                                <img src="./Assest/img1.webp" alt="">
                            </div>
                            <div class="card2">
                                <h3>CLASSIC ITALIAN SALADS</h3><br>
                                <p >FROM $25.50</p><br>
                                <p>Praesent vestibulum aenean noummy endrerit mauris. Cum sociis natoque penatibus et magnis dis parturient montes ascetur ridiculus mus.</p>
                            </div>
                            <div class="card1">
                                <img src="./Assest/img4.jpg" alt="">
                            </div>
                            <div class="card2">
                                <h3>ITALIAN CHOCOLATE CAKE</h3><br>
                                <p >FROM $25.50</p><br>
                                <p>Praesent vestibulum aenean noummy endrerit mauris. Cum sociis natoque penatibus et magnis dis parturient montes ascetur ridiculus mus.</p>
                            </div>
                            <div class="card1">
                                <img src="./Assest/img3.webp" alt="">
                            </div>
                        </div>
                        <!-- ------------------------------------------------ -->
                    </div>

                    <!-- ----------------Screen size tab ============-->
                <div class="js-flickity tab" data-flickity-options='{ "wrapAround": true }'>
                     <!--------------------------- conent 1 for Tab  --------------------->
                     <div class="col-lg-12 feature-section slider-item" >
                        <div class="card1">
                            <img src="./Assest/img1.webp" alt="">

                        </div>

                        <div class="card2">
                            <h3>ITALIAN CHOCOLATE CAKE</h3><br>
                            <p >FROM $25.50</p><br>
                            <p>Praesent vestibulum aenean noummy endrerit mauris. Cum sociis natoque penatibus et magnis dis parturient montes ascetur ridiculus mus</p>
                        </div>

                        <div class="card1">
                            <img src="./Assest/img2.webp" alt="">
                        </div>

                        <div class="card2">
                            <h3>CLASSIC ITALIAN PASTA</h3><br>
                            <p >FROM $25.50</p><br>
                            <p>Praesent vestibulum aenean noummy endrerit mauris. Cum sociis natoque penatibus et magnis dis parturient montes ascetur ridiculus mus.</p>
                        </div>

                    </div>
                    <!-- ------------------------------------------------------ -->
                    <!--------------------------------Content 2 for Tab -->
                    <div class="col-lg-12  feature-section slider-item ">
                        <div class="card1">
                            <img src="./Assest/img3.webp" alt="">
                        </div>

                        <div class="card2">
                            <h3>CLASSIC ITALIAN SALADS</h3><br>
                            <p >FROM $25.50</p><br>
                            <p>Praesent vestibulum aenean noummy endrerit mauris. Cum sociis natoque penatibus et magnis dis parturient montes ascetur ridiculus mus.</p>
                        </div>

                        <div class="card1">
                            <img src="./Assest/img4.jpg" alt="">
                        </div>
                        <div class="card2">
                            <h3>ITALIAN MEATY DISHES</h3><br>
                            <p >FROM $25.50</p><br>
                            <p>Praesent vestibulum aenean noummy endrerit mauris. Cum sociis natoque penatibus et magnis dis parturient montes ascetur ridiculus mus.</p>
                        </div>
                        
                    </div>

                    <!------------------------------------------------  -->

                    <!--------------------------------Content 3 for Tab -->
                    <div class="col-lg-12  feature-section slider-item ">
   
                        <div class="card1">
                            <img src="./Assest/img4.jpg" alt="">
                        </div>

                        <div class="card2">
                            <h3>ITALIAN MEATY DISHES</h3><br>
                            <p >FROM $25.50</p><br>
                            <p>Praesent vestibulum aenean noummy endrerit mauris. Cum sociis natoque penatibus et magnis dis parturient montes ascetur ridiculus mus.</p>
                        </div>

                        <div class="card1">
                            <img src="./Assest/img2.webp" alt="">
                        </div>

                        <div class="card2">
                            <h3>CLASSIC ITALIAN PASTA</h3><br>
                            <p >FROM $25.50</p><br>
                            <p>Praesent vestibulum aenean noummy endrerit mauris. Cum sociis natoque penatibus et magnis dis parturient montes ascetur ridiculus mus.</p>
                        </div>
                        
                    </div>

                    <!------------------------------------------------  -->
                    <!--------------------------------Content 4 for Tab -->
                    <div class="col-lg-12  feature-section slider-item ">
                        <div class="card1">
                            <img src="./Assest/img2.webp" alt="">
                        </div>

                        <div class="card2">
                            <h3>CLASSIC ITALIAN PASTA</h3><br>
                            <p >FROM $25.50</p><br>
                            <p>Praesent vestibulum aenean noummy endrerit mauris. Cum sociis natoque penatibus et magnis dis parturient montes ascetur ridiculus mus.</p>
                        </div>

                        <div class="card1">
                            <img src="./Assest/img1.webp" alt="">
                        </div>
                        <div class="card2">
                            <h3>ITALIAN CHOCOLATE CAKE</h3><br>
                            <p >FROM $25.50</p><br>
                            <p>Praesent vestibulum aenean noummy endrerit mauris. Cum sociis natoque penatibus et magnis dis parturient montes ascetur ridiculus mus</p>
                        </div>
                        
                    </div>

                    <!------------------------------------------------  -->
                </div>  
                
                <!-----------------------Screen Size Phone ----------->

                <div class="js-flickity phone" data-flickity-options='{ "wrapAround": true }'>
                    <!--------------------------- conent 1 for phone  --------------------->
                    <div class="col-lg-12 feature-section slider-item" >
                       <div class="card1">
                           <img src="./Assest/img1.webp" alt="">

                       </div>

                       <div class="card2">
                           <h3>ITALIAN CHOCOLATE CAKE</h3><br>
                           <p >FROM $25.50</p><br>
                           <p>Praesent vestibulum aenean noummy endrerit mauris. Cum sociis natoque penatibus et magnis dis parturient montes ascetur ridiculus mus</p>
                       </div>


                   </div>
                   <!-- ------------------------------------------------------ -->
                   <!--------------------------------Content 2 for phone -->
                   <div class="col-lg-12  feature-section slider-item ">
                       <div class="card1">
                           <img src="./Assest/img3.webp" alt="">
                       </div>

                       <div class="card2">
                           <h3>CLASSIC ITALIAN SALADS</h3><br>
                           <p >FROM $25.50</p><br>
                           <p>Praesent vestibulum aenean noummy endrerit mauris. Cum sociis natoque penatibus et magnis dis parturient montes ascetur ridiculus mus.</p>
                       </div>

                       
                   </div>

                   <!------------------------------------------------  -->

                   <!--------------------------------Content 3 for phone -->
                   <div class="col-lg-12  feature-section slider-item ">
  
                       <div class="card1">
                           <img src="./Assest/img4.jpg" alt="">
                       </div>

                       <div class="card2">
                           <h3>ITALIAN MEATY DISHES</h3><br>
                           <p >FROM $25.50</p><br>
                           <p>Praesent vestibulum aenean noummy endrerit mauris. Cum sociis natoque penatibus et magnis dis parturient montes ascetur ridiculus mus.</p>
                       </div>

                       
                   </div>

                   <!------------------------------------------------  -->
                   <!--------------------------------Content 4 for phone -->
                   <div class="col-lg-12  feature-section slider-item ">
                       <div class="card1">
                           <img src="./Assest/img2.webp" alt="">
                       </div>

                       <div class="card2">
                           <h3>CLASSIC ITALIAN PASTA</h3><br>
                           <p >FROM $25.50</p><br>
                           <p>Praesent vestibulum aenean noummy endrerit mauris. Cum sociis natoque penatibus et magnis dis parturient montes ascetur ridiculus mus.</p>
                       </div>
                       
                   </div>

                   <!------------------------------------------------  -->
               </div>
                   
        </div>

   
</div>


</body>
</html>
